.navbar-ant {
  background-color: white;
  box-shadow: rgba(0,0,0, 0.3)!important;
}
.progress-bar{
  background-color:rgba(255,255,255, 0)!important;
  border: none!important;
  box-shadow: none!important;
}

.tooltip{
    opacity:1!important;
}


 p {
        font-size: 14pt !important;
        }

        .nopad {
            padding: 0px !important;
        }

        .nomarg {
            margin: 0px !important;
        }


        li {
            font-size: 14pt;
            padding: 10px;
        }

        h2 {
            padding-bottom: 10px;

        }




         @font-face {
          font-family: 'besom';
          src: url('Besom-free-font.ttf');
          font-weight: normal;
          font-style: normal;
        }

         @font-face {
          font-family: 'lauren';
          src: 
            url('fonts/Lauren/Lauren-Regular.otf') format('otf'),
            url('fonts/Lauren/Lauren-Regular.ttf') format('ttf'),
            url('fonts/Lauren/Lauren-Regular.woff') format('woff'),
            url('fonts/Lauren/Lauren-Regular.woff2') format('woff2'),
            url('fonts/Lauren/Lauren-Regular.eot');
          font-weight: normal;
          font-style: normal;
        }

        .dna-heading {
            color:  black;
            font-family: lauren!important;
            /*text-shadow: 2px 2px 1px #000000;*/

        }

        .chess{
            width:100%;
           /*height:395px;*/
        }

        input{
            border: 1px dotted #42DCA3!important;
            
        } 
        input:focus{
             box-shadow: 0px 0px 3px  #42DCA3!important;
             border: 1px solid #42DCA3!important;
        }

    .dnainput {
        margin: 15px;
        max-width: 160px;
    }
    @media (max-width: 767px) {
               input{
            min-width:95%;

            
        } 

    }

    .nav-tabs > li {
        padding:0;
    }

    .tab-content > div {
        background-color: white;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-radius: 0px 0px 4px 4px;
    }


.navbar-header{
    padding-top: 10px;

}



.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(250,250,250,0.6);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  color:#fff;
  font-size: 10pt;
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 10px 10px 40px 10px;
  border-radius: 10px;
  background: #000;

}

.close > span{
  color: #ffffff;
  font-size: 15px;
}

.close:hover { background: #00d9ff; }